*,*::before,*::after{
    box-sizing: border-box;
    margin: 0px;
    font-family: fantasy;
}

.backgroundvideo{
    position: absolute;
    right:0;
    left:0;
    z-index:-1;
}
@media (min-aspect-ratio:16/9){
    .backgroundvideo{
        width:auto;
        height:auto;
    }
}

  h1{
    color:#000000;
    text-decoration: underline;
    padding:30px;
    margin:auto;
    text-align: center;
    
}

 h5{
    text-align: center;
    box-shadow: 0px 0px 10px #ffb800;
}

.card-title{
    background-color: #ef06e3;
    padding:20px;

}

p{
    text-align: center;
    padding: 10px;
    background-color: #a307e1;
}

.bt1, .bt2, .bt3, .bt4{
    text-align: center;
    box-shadow: 0px 0px 15px #a307e1;
    background-color: rgb(255, 192, 203);
    border-radius: 10px; 
    letter-spacing: 1px;
    padding:15px;
    margin-top: 20px;
    column-gap: 10%;
}

.card-body{
    background-color: #92a1d1;
}


body {
    background-color:#a307e1;
  }

  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  #header {
    padding: 10px;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  #header button {
    background-color:#061b61;
    
  }

  #container {
    width: 790px;
    background-color: #a307e1;
    shape-margin: ;
  }



  #weekdays {
    width: 100%;
    display: flex;
    color: black;
  }

  #weekdays div {
    width: 150px;
    padding: 10px;
  }

  #calendar {
     width: 100%; 
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    background-color: rgb(249, 224, 180);
    margin: 5px;
    box-shadow: 0px 0px 3px #0a1201;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .day:hover {
    background-color: pink;
  }
  
  .day + #currentDay {
    background-color:#ef06e3;
  }

  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #6004f4ae;
    color: black;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }

  .padding {
    cursor: default !important;
    background-color: #f703f7 !important;
    box-shadow: none !important;
  }

  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }

  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }

  #eventTitleInput.error {
    border: 2px solid red;
  }

  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }

  #saveButton, #closeButton {
    background-color: #92a1d1;
  }

.btn{
    text-align: center;
    color:white;
    background-color: #000000;
}


  #eventText {
    font-size: 14px;
  }

  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }


  #monthDisplay{
    color:black;
  }

  .popup{
    width:400px;
    background:rgb(253, 229, 229);
    border-radius:6px;
    position: absolute;
    margin:25px;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color:#0b0c0c;
    visibility: hidden;
    transition: tranform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
}

  .popup a{
    text-align: center;
    font-size:25px;
    font-weight: 300;
    
  }

  body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("../HTML/pictures/fireworks.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
